/* CSS para el componente Tarjetas */
.cajas {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.521);
    width: 200px;
    border-radius: 10px;
    flex-wrap: wrap;
    margin: 10px;
    text-align: center;
  }
  
  .pelis {
    width: 100%;
  }
  
  .titulo {
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
  
  .estreno {
    font-size: 10px;
  }
  
  .buttonAgregarFavoritos {
    background-color: #7b4397;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
  }
  
  .buttonAgregarFavoritos:hover {
    background-color: #5a2f79;
  }
  