

/* Clase para el contenedor del formulario de búsqueda */
.FiltroBusqueda {
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
}

/* Clase para el formulario y sus elementos */
.FiltroBusqueda form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Estilo para el campo de búsqueda */
.FiltroBusqueda input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 2px solid #d44c4e;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

/* Estilo para el botón de búsqueda */
.FiltroBusqueda button {
  background-color: #d44c4e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilo para el botón de búsqueda al pasar el mouse por encima */
.FiltroBusqueda button:hover {
  background-color: #792f2f;
}
